{% extends 'base.html' %}
{% load url from future %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-success">
      <h2>Dziękujemy</h2>

      <p>
        Twoje zamówienie o numerze: {{ order.id }} zostało przyjęte do realizacji
      </p>

      <p>
        <b>Dane adresowe:</b></br>
        <dl class="dl-horizontal">
          <dt>Imię i nazwisko</dt><dd>{{ order.name }}</dd>
          <dt>Ulica</dt><dd>{{ order.address_line_1 }}</dd>
          <dt>Miasto</dt><dd>{{ order.city }}</dd>
          <dt>Kod pocztowy</dt><dd>{{ order.post_code }}</dd>
          <dt>e-mail</dt><dd>{{ order.email }}</dd>
        </dl>
      </p>
    </div>
  </div>
</div>

{% endblock content %}
