{% load url from future %}

<div class="thumbnail product">
  <img class="img-rounded" src="{{ product.images.first.image.url }}">
  <div class="caption text-center">
    <h3>{{ product.name }}</h3>
    <p class="description">
      {{ product.description }}
    </p>
    <p>
      <span class="label label-success">{{ product.price_gross|floatformat:2 }} zł</span>
    </p>
    <p>
      <div class="btn-group" role="group">
        <a href="{% url 'product_details' product.id %}"
        class="btn btn-info btn-lg" role="button">
          <i class="glyphicon glyphicon-shopping-cart"></i>
        </a>
        <a href="{% url 'product_details' product.id %}"
        class="btn btn-warning btn-lg" role="button">
          <i class="glyphicon glyphicon-search"></i>
        </a>
      </div>
    </p>
  </div>
</div>
