<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-info">
      <h4>Wyszukiwarka</h4>
      <form class="form">
        <div class="row">
          <div class="col-xs-5">
            <input type="text" class="form-control" placeholder="nazwa, część nazwy lub opisu">
          </div>
          <div class="col-xs-3">
            <input type="text" class="form-control" placeholder="kategoria">
          </div>
          <div class="col-xs-3">
            <div class="row">
              <div class="col-xs-6">
                <input type="number" class="form-control" placeholder="cena od">
              </div>
              <div class="col-xs-6">
                <input type="number" class="form-control" placeholder="cena do">
              </div>
            </div>
          </div>
          <div class="col-xs-1">
            <button type="submit" class="btn btn-primary pull-right">Wyszukaj</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
