{% extends 'base.html' %}
{% load humanize %}
{% load url from future %}

{% block content %}

<h2>Szczegóły produktu</h2>

{% for image in product.images.all %}
  <img src="{{ image.image.url }}" height="200"/>
{% endfor %}
<p>
  {{ product.name }} ({{product.price_gross|intcomma}} zł)
</p>
<p>
  Opis:
  {{ product.description }}
</p>
Cechy:
<ul>
  {% for attribute in product.attribute.all %}
    <li>
      {{ attribute.attribute_type.name }}: {{ attribute.value }}
    </li>
  {% endfor %}
</ul>


<a href="{% url 'checkout' product.id %}">Zamawiam</a>

<!-- <form action="{% url 'checkout' product.id %}" method="post">
  {% csrf_token %}
  <label>Akceptuję <a href="">regulamin</a></label>
  <input type="checkbox" name="acceptance"/>
  <input type="hidden" name="product_id" value="{{ product.id }}"/>
  <input type="submit" value="zamawiam"/>
</form> -->

{% endblock content %}
