{% load staticfiles %}

<div class="row">
  <div class="col-md-12">
    <div class="footer">
      <div class="container">
        <div class="clearfix">
          <div class="footer-logo">
            <a href="#"><img src="{% static 'img/stx.png' %}"></a>
          </div>
          <dl class="footer-nav pull-right">
            <dt class="nav-title">Na skróty</dt>
            <dd class="nav-item"><a href="/">Strona główna</a></dd>
            <dd class="nav-item"><a href="#">Kontakt</a></dd>
            <dd class="nav-item"><a href="#">Regulamin</a></dd>
            <dd class="nav-item"><a href="#">O nas</a></dd>
          </dl>
        </div>
        <div class="footer-copyright text-center">Copyright © 2014 Flathemes.All rights reserved.</div>
      </div>
    </div>
  </div>
</div>
